body {
  font-family: Helvetica;
  background-color: red;
  color: black;
}
  
  h1 {
  font-size: 40px;
    font-style: normal;
    color: #5D753F;
}

li {
  font-style: italic;
}

h3 {
  text-decoration: underline;
}

a {
  color: black;
  font-weight: bold;
}