body {
	font-family: arial
	background: #9AE890;
}

 .image1 {
 	position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
                z-index: -1;
 }

 .image2 {
 	width: 200px;
 	
 }

p {
	max-width: 50%;
}