body {
	font-family: arial;
	background-color: #A9FF97;
}
 .banner {
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
 }

 .headshot {
                margin: auto;
                width: 200px;

 }
h1 {
	text-align: center;
}
h2 {
	text-align: center;
}

a {
	color: grey;
}