body {
	font-family: arial;
	background-color: #9AE890;
}
 .image1 {
                top: 0px;
                left: 0px;
                right: 0px;
                width: 100%;
 }

 .image2 {
 				top: 300px;
                left: 0px;
                right: 0px;
                width: 200px;
 }

